<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head',{
        title : 'editar producto'
    })  %>


<body class="productAdmin">
    <%- include('./partials/header') %>

    <main>
        <section class="sectionEdit">
          
            <form class="formProducts2" method="POST" action="/products/update/<%= product.id %>?_method=PUT" enctype="multipart/form-data">
                <h1>Editando: <%= product.name %></h1>
            
                <article>
                    <div class="images-container">

                        <img src="/images/<%= product.image %>" alt="">
                    </div>
                    <div class="productAdmin__form-box">
                        <label for="name">Nombre del producto</label>
                        <input class="productAdmin__form-input" type="text" id="name" name="name"
                            value="<%= product.name %>">
                    </div>
                    <div class="productAdmin__form-box">
                        <label for="brand">Marca del producto</label>
                        <input class="productAdmin__form-input" type="text" id="brand" name="brand"
                            value="<%= product.brand %>">
                    </div>
                    <div class="productAdmin__form-box">
                        <label for="price">Precio</label>
                        <input class="productAdmin__form-input" type="number" id="price" name="price"
                            value="<%= product.price %>">
                    </div>

                    <div class="productAdmin__form-box">
                        <label for="price">Stock</label>
                        <input class="productAdmin__form-input" type="text" id="stock" name="stock"
                        value="<%= product.stock %>">
                    </div>
                    <div class="productAdmin__form-box">
                        <label for="category">Categorias</label>
                        <select class="productAdmin__form-boxect" name="category" id="category">
                            <% categories.forEach(category => { %>
                            <option value="<%= category.id %>"
                                <%= category.id === product.category ? 'selected' : null %>><%= category.name %>
                            </option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="productAdmin__form-box">
                        <label for="description">descripcion</label>
                    <textarea  name="description" id="description" cols="30" rows="10"  value="<%= product.description %>">
                        
                    </textarea>
                    
                  
                    </div>
                    <div class="productAdmin__form-box">
                        <label for="image">Imagen</label>
                        <input class="productAdmin__form-input" type="file" id="image" name="image" accept="image/*"  value="<%= product.image %>">
                    </div>

                </article>

                <div class="buttons">
                    <button class="btnAdmin" type="submit">Guardar</button>

                    <button class="btnAdmin" type="reset">Cancelar</button>
                </div>
            </form>
        </section>

    </main>

</body>

</html>